@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-main-bg: #ffffff;
  --color-second-bg: oklch(98% 0 0);
  --color-logo: #242c3f;
  --color-title: #000000;
  --color-input-border: #aeaeae;
  --color-header-border: #c7c7c7;
  --color-main-text: #3a3a3a;
  --color-light-text: #888888;
  --color-lighter-text: #a5a9bf;
  --color-lightest-text: #b7b7b7;
  --color-main-text-light: #3e3e3e;
  --color-blue-first: #387aff;
  --color-blue-second: #033fb8;
  --color-chart-column: #00a34c;
  --color-table-row: #f1f5ff;
  --color-table-hover: #b6ceff;
}

:root {
  --color-main-bg: #ffffff;
  --color-second-bg: oklch(98% 0 0);
  --color-blue-first: #387aff;
  --color-blue-second: #033fb8;
  --color-chart-column: #00a34c;
  --color-logo: #242c3f;
  --color-title: #000000;
  --color-main-text: #3a3a3a;
  --color-table-row: #f1f5ff;
  --color-table-hover: #b6ceff;
}

.dark {
  --color-main-bg: #16161d;
  --color-second-bg: #21212b;
  --color-blue-first: #374dbc;
  --color-blue-second: #0c224d;
  --color-chart-column: #06592d;
  --color-logo: #4a4f5b;
  --color-title: #ffffff;
  --color-main-text: #a0a0a0;
  --color-table-row: #1d1d25;
  --color-table-hover: #393949;
}
