@import "tailwindcss";
@plugin "daisyui";

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");

  html {
    font-family: "Roboto", sans-serif;
  }
}

@theme {
  --color-main-bg: #ffffff;
  --color-second-bg: rgb(0, 0, 0, 1);
  --color-logo: #242c3f;
  --color-title: #000000;
  --color-input-border: #aeaeae;
  --color-header-border: #c7c7c7;
  --color-main-text: #3a3a3a;
  --color-light-text: #888888;
  --color-lighter-text: #a5a9bf;
  --color-lightest-text: #b7b7b7;
  --color-main-text-light: #3e3e3e;
  --color-blue-first: #387aff;
  --color-blue-second: #033fb8;
  --color-chart-column: #00a34c;
  --color-table-row: #f1f5ff;
  --color-table-hover: #b6ceff;
  --color-black-gray: #505050;
  --color-nav-text: #242c3f;
  --color-table-text: #3e3e3e;
  --color-input-bg: #ffffff;
  --color-darslar-border: #cbd4dc;
  --color-darslar-teacher-name: #13265c;
  --color-darslar-mavzu-hover: rgb(243, 243, 243);
  --color-darslar-active-bg: #dbe9ff;
  --color-green-button: #10b981;
  --color-chat-user-border: #ebebeb;
  --color-active-chat: #e6edff;
  --color-chat-bg: #e6f1ff;
  --color-chat-hover: rgb(235, 235, 235);
  --color-sidebar-hover: rgb(243, 243, 243);
  --color-student-task-status-green: #00a34c;
}

:root {
  --color-main-bg: #ffffff;
  --color-second-bg: #f0f1f2;
  --color-blue-first: #387aff;
  --color-blue-second: #033fb8;
  --color-chart-column: #00a34c;
  --color-logo: #242c3f;
  --color-title: #000000;
  --color-main-text: #3a3a3a;
  --color-table-row: #f1f5ff;
  --color-table-hover: #b6ceff;
  --color-black-gray: #505050;
  --color-nav-text: #242c3f;
  --color-table-text: #3e3e3e;
  --color-header-border: #c7c7c7;
  --color-input-bg: #ffffff;
  --color-darslar-border: #cbd4dc;
  --color-darslar-teacher-name: #13265c;
  --color-darslar-mavzu-hover: rgb(243, 243, 243);
  --color-darslar-active-bg: #dbe9ff;
  --color-green-button: #10b981;
  --color-chat-user-border: #ebebeb;
  --color-active-chat: #e6edff;
  --color-chat-bg: #e6f1ff;
  --color-chat-hover: rgb(235, 235, 235);
  --color-sidebar-hover: rgb(243, 243, 243);
  --color-student-task-status-green: #00a34c;
}
.dark {
  --color-main-bg: #16161d;
  --color-second-bg: #21212b;
  --color-blue-first: #374dbc;
  --color-blue-second: #0c224d;
  --color-chart-column: #06592d;
  --color-logo: #4a4f5b;
  --color-title: #ffffff;
  --color-main-text: #a0a0a0;
  --color-table-row: #1d1d25;
  --color-table-hover: #393949;
  --color-black-gray: #a1a1a1;
  --color-nav-text: #a0a0a0;
  --color-table-text: #dedede;
  --color-header-border: #22222a;
  --color-input-bg: #21212b;
  --color-darslar-border: #393939;
  --color-darslar-teacher-name: #3b82f6;
  --color-darslar-mavzu-hover: rgb(26, 26, 53);
  --color-darslar-active-bg: #23334d;
  --color-green-button: #00734d;
  --color-chat-user-border: #333641;
  --color-active-chat: #23334d;
  --color-chat-bg: #20202b;
  --color-chat-hover: rgb(41, 41, 41);
  --color-sidebar-hover: rgb(37, 37, 63);
  --color-student-task-status-green: #267c4e;
}

.active {
  background-color: #3b82f6;
}

/* DaisyUI zebra rangini override qilish */
.table-zebra tbody tr:nth-child(even) {
  background-color: #f1f5ff;
}

.dark .table-zebra tbody tr:nth-child(even) {
  background-color: #1d1d25;
}

.volume-slider {
  -webkit-appearance: none;
  width: 100px;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) var(--value, 50%),
    #757575 var(--value, 10%),
    #858585c5 50%
  );
  outline: none;
  cursor: pointer;
}

/* Dumaloq tugma */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background: white;
  /* border: 2px solid #999; */
  cursor: pointer;
  margin-top: -2px; /* markazda turishi uchun */
}

.volume-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(114, 112, 112);
  /* border: 2px solid #999; */
  cursor: pointer;
}

.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #aaa; /* bo'sh joy */
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

/* Slider yo'li (progress) */
.progress-bar::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(
    to right,
    #ff0000 var(--progress),
    #aaa var(--progress)
  );
  border-radius: 4px;
}

.progress-bar::-moz-range-track {
  height: 6px;
  background: linear-gradient(
    to right,
    #ff0000 var(--progress),
    #aaa var(--progress)
  );
  border-radius: 4px;
}

/* Dumaloq tugma */
.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ff0000;
  border: 2px solid #ff0000;
  cursor: pointer;
  margin-top: -4px; /* markazlashtirish */
}

.progress-bar::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  border: 2px solid #ff0000;
  cursor: pointer;
}

.loading-shadow {
  box-shadow: 20px 20px 50px 50px white;
  rotate: 30deg;
  bottom: -50%;
  left: -50%;
  /* animation: anime 2s infinite; */
}

@keyframes anime {
  from {
    bottom: -50%;
    left: -150%;
  }

  to {
    bottom: 100%;
    left: 100%;
  }
}

.animate-custom-enter {
  animation: animate 0.4s;
}

.animate-custom-leave {
  animation: animateBack 1s;
}

@keyframes animate {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animateBack {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .volume-slider {
    width: 50px;
    height: 3px;
  }

  .volume-slider::-webkit-slider-thumb {
    width: 8px;
    height: 8px;
    margin-top: -1px;
  }

  .progress-bar::-webkit-slider-runnable-track {
    height: 4px;
  }
  .progress-bar {
    height: 4px;
  }

  .progress-bar::-moz-range-thumb {
    width: 10px;
    height: 10px;
  }
  .progress-bar::-webkit-slider-thumb {
    margin-top: -5px;
  }
}

html {
  overflow-y: scroll;
}
